<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body class="h-screen w-screen">
    <div class="w-full h-full flex justify-center items-center">
        <div>
            <img src="" alt="missing picture" class="bg-slate-200 rounded h-40 w-40">
            <p class="">Description:</p>
        </div>
    </div>
</body>
</html>